<section class="site-media" style="background-image: url('images/flag-bulgaria.jpg'), linear-gradient(white, green, red);">
    <h1>AOM</h1>
    <p>Да направим света подреден и удобен!</p>
    <ul>
        <li><a href="{{ site.baseurl }}/476.html"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="{{ site.baseurl }}/476.html"><i class="fab fa-twitter"></i></a></li>                        
        <li><a href="{{ site.baseurl }}/476.html"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="{{ site.baseurl }}/476.html"><i class="fab fa-instagram"></i></a></li>
        <li><a href="{{ site.baseurl }}/476.html"><i class="fab fa-pinterest"></i></a></li> 
    </ul>            
</section>