.about-us-content {
    padding: 3rem 1.5rem;

    h1, h2 {
        text-align: center;
    }

    section {
        margin-bottom: 2rem;
        padding: 0.5rem;
    }

    section:hover {
        background-color: var(--logo-background-color);
        border-radius: 0.5em;

        p:hover, li:hover {
            border: 0.1rem solid green;
            border-radius: 0.5em;
        }
    }    

    section:nth-of-type(2) li:nth-of-type(1) {
        background-color: white;
        border-radius: 0.5em 0.5em 0 0;

        &:hover {
            background-color: white;
            border-radius: 0.5em 0.5em 0 0;
            border-bottom-color: red;
        }
    }

    section:nth-of-type(2) li:nth-of-type(2) {
        background-color: green;

        &:hover {
            background-color: green;
            border-color: red;
            border-radius: 0;
            border-bottom-color: white;
        }
    }

    section:nth-of-type(2) li:nth-of-type(3) {
        background-color: red;
        border-radius: 0 0 0.5em 0.5em;

        &:hover {
            background-color: red;
            border-radius: 0 0 0.5em 0.5em;
            border-top-color: white;
        }
    }
    
    ul {
        margin-left: 3rem;
        list-style-type: none;
    } 

    li {
        padding: 0.5em;
    }
    
    a {
        color: var(--link-background-color);
    }

    a:hover {
        color: var(--link-hover-background-color);        
    }
}