.site-footer {	
	display: flex;
	padding: 1rem 0.5rem;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8em;
	background-color: var(--footer-background-color);

	ul:nth-child(4) {
		display: flex;
	}
	
	ul:nth-child(4) li {
		display: block;
		list-style: none outside;
		margin-right: 1em;
	}
	
	ul:nth-child(4) a {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--link-background-color);
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.5);
		width: 2.8em;
		height: 2.8em;
		line-height: 1;
		transition: background-color 0.4s ease-in;		
	}	
	
	ul:nth-child(4) a:hover {
		background-color: var(--logo-background-color);
		color: var(--link-hover-background-color);
	}
}

.site-footer p {
	opacity: 0.4;
	transition: opacity 0.3s ease-in;
}

.site-footer:hover p {
	opacity: 0.8;
}

.site-footer > p:first-child {
	margin-left: 1em;
}

.site-footer > p:last-child {
	margin-right: 1em;
}

@media (max-width: 640px) {
	.site-footer {
		flex-direction: column;
	}

	.site-footer > * {
		margin: 1em;
		text-align: center;
	}	
}