.site-footer {	
	display: flex;
	padding: 1em 0.5em;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8em;
	background-color: var(--footer-background-color);
}

.site-footer .social a {
	background: rgba(0,0,0,0.3);
	color: #FFF;
}

.site-footer p {
	opacity: 0.4;
	transition: opacity 0.3s ease-in;
}

.site-footer:hover p {
	opacity: 0.8;
}