.site-media {
    display: flex;
	flex-direction: column;
    justify-content: center;
    position: relative;
	//height: 75vh;
    overflow: hidden;
    //background-image: url("/images/flag-bulgaria.jpg"), linear-gradient(white, green, red);
    background-repeat: no-repeat;
	background-position: center;
    background-size: 100% 100%;	
    text-align: center;
    
    h1 {
        font-weight: 700;
    }
    
    p {
        font-weight: 400;
        opacity: 0.8;
    }   

    ul {
        display: flex;
        align-self: center;
        padding-top: 2em;
        padding-bottom: 0.5em;
        z-index: 10;
	}
	
	ul li {
		display: block;
		list-style: none outside;
		margin-right: 1em;
	}
	
	ul a {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--link-background-color);
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.5);
		width: 2.8em;
		height: 2.8em;
		line-height: 1;
		transition: background-color 0.4s ease-in;		
	}	
	
	ul a:hover {
		background-color: var(--logo-background-color);
		color: var(--link-hover-background-color);
	}
}

.site-media img {
	display: block;
	width: 100%;
	height: auto;
}

.site-media:before {
	display: block;
	content: '';
	background: rgba(71, 155, 180, 0.5);
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}

// .site-media .site-wrapper {
// 	width: 100%;
// 	color: #FFF;
// 	position: relative;
// 	z-index: 10;
// 	font-size: 1.6em;
// 	padding-right: 10em;
// }