.site-nav {    
    padding-top: 0.5em;
    z-index: 10;

    @include bp(mobile) {
        display: none;
    }

    ul {        
        padding: 0;
        margin: 0;

        @include bp(desktop) {
            display: flex;
        }

        li {
            display: block;
            margin: 0 1em;
            //position: relative;
            //list-style: none outside;
            transform: translate(0, -5em);
            opacity: 0;
            transition: opacity 0.3s ease-in, transform 0.3s ease-in;

            .loaded & {
                opacity: 1;
                transform: translate(0, 0);
            }

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) { transition-delay: $i * 0.1s; }
            }
        }
    }    

    a {
        display: flex;       
        padding: 0.5em 1em;
        background-color: var(--link-background-color);
        color: var(--link-color);
        text-decoration: none;
        border-radius: 0.3em;
        box-shadow: 0 0.5em 1em 0.4em rgba(0, 0, 0, 0.5);        

        &:before {
            display: block;
            margin-right: 0.5em;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }
        
        @at-root .nav .current-page a,
        &:hover {
            display: flex;                 
            margin-bottom: 0.4em;
            background-color: var(--link-hover-background-color);            
            transform: scale(1.2);            
                                 
            span {
                color: var(--link-hover-background-color);
            }
        }

        span {
            color: var(--link-background-color);
        }    
    }
}

.site-nav-toggle {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:checked + .site .site-header .site-nav {
        @include bp(mobile) {
            display: block;
        }
    }
    
    &-label {
        @include bp(desktop) {
            display: none;
        }
    }
}

.site-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10em;    
}

.site-nav ul ul ul {
    top: 0;
    left: 100%;
}

.site-nav li:hover > ul {
    display: block;  
}

.site-nav a:hover,
.site-nav li:hover > a {
    position: relative;
    background-color: var(--link-hover-background-color);
    z-index: 10;

    span {
        color: var(--link-hover-background-color);
    }
}

@media (max-width: 1024px) {
    .site-nav ul ul {
        top: 0;
        left: 100%;
    }

    // .site-nav ul ul ul {  
    //     top: 230%;      
    //     left: 0;
    // }
}