.policy {
	background: #F8F8F8;
	position: relative;
	z-index: 3;
	top: -3em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
	margin: 3em;
	
	@include bp(mobile) {
		padding-bottom: 0.1em;
	}

	@include bp(desktop) {
		display: flex;
		height: 30em;
	}
}

.policy-header {
	margin: 3em;
	margin-bottom: 6em;
	text-align: center;	
	letter-spacing: 0.3em;
	background-image: linear-gradient(white, green, red);
	border-radius: 0.5em;
	box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.3);
}

.policy-media {
	position: relative;
	overflow: hidden;
	
	@include bp(desktop) {
		flex: 0 0 50%;
	}
}

.policy-media:before {
	display: block;
	content: '';
	padding-top: 80%;
}

.policy-media img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease-in-out;
}

.policy-media:hover img {
	transform: translate(-50%, -50%) scale(1.2);
}

.policy-content {
	background: #FFF;
	position: relative;
	z-index: 2;
	box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.07);
	padding: 2em;
	overflow: auto;
	
	@include bp(desktop) {
		flex-grow: 1;
		margin: 2em 2em 2em -2em;
	}
}

.policy-title {
	padding-bottom: 0.5rem;	
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
}

.policy-title a {
	color: black;	
}

.policy-meta {
	margin-bottom: 3em;
	text-align: center;
}

.policy-meta a {
    color: var(--link-background-color);
}

.policy-meta a:hover {
	color: var(--link-hover-background-color);        
}

.policy:nth-child(even) .policy-media {
	order: 2;
}

.policy:nth-child(even) .policy-content {
	@include bp(desktop) {
		margin: 2em -2em 2em 2em;
	}
}

.policy-content,
.policy:nth-child(even) .policy-content {
	@include bp(mobile) {
		margin: -2em 2em 2em 2em;
	}
}
