html {
	font: 14px/1.5 Helvetica, Verdana, sans-serif;	
    box-sizing: border-box;
}

body {
	font: inherit;
}

// h1, h2, h3, h4, h5, h6, p {
//     margin: 1rem 0;
// }

h1, h2, h3, h4, h5, h6 {	
	padding-bottom: 0.5em;
	line-height: 1.2;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.2em;
}

a {
	text-decoration: none;
	color: var(--link-background-color);
}

a:hover {
	color: var(--link-hover-background-color);        
}

section header {
    text-align: center;
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 18px;
    }
}
