:root {

    --font-family-main: Georgia, serif;
    --font-family-headings: Palatino Linotype, serif;

    --link-color: azure;

    --header-background-color: rgb(218, 218, 218);
    --footer-background-color: rgb(209, 209, 209);    
    --logo-background-color: rgb(200, 200, 223);
    --warning-background-color: rgb(243, 243, 188);
    --images-background-color: gainsboro;            

    --link-background-color: green;
    --link-hover-background-color: red;
    
    --font-size: 21px;
    --font-line-height: 1.5;

    --layout-width: 55em;
    --layout-padding-b: 2em;
}